<button type="button" class="btn btn-success" id="StartServer" style="display: inline;">Включить</button>
<button type="button" class="btn btn-warning" id="RebootServer" style="display: none;">Перезагрузить</button>
<button type="button" class="btn btn-danger" id="StopServer" style="display: none;">Выключить</button>
<button type="button" class="btn btn-secondary" title="Отключить не дожидаясь сохранения данных." id="CloseServer" style="display: none;">Отключить</button>
