<div class="form-group">
    <label class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label class="col-md-10 control-label">
                <input /> Автозапуск
                <span class="text-danger"></span>
            </label>
        </div>
    </div>
</div>
<br />
<div class="form-group">
    <label class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" value="java" />
        <span class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" />
        <span class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <labe class="col-md-10 control-label"></label>
    <div class="col-md-10">
        <input class="form-control" value="25565" min="1024" max="65535" />
        <span class="text-danger"></span>
    </div>
</div>