@page
@model MCServerManager.Pages.Server.AddModel
@{
}

<form method="post" class="form-horizontal">
    <div class="text-danger"></div>

    
    <br />
    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}