@page "/list"
@model MCServerManager.Pages.Server.ListModel
@{
}

<div class="col-md-12 text-end">
    <a class="btn btn-success">Добавить сервер</a>
</div>
<br />
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <h5 class="card-title">Название сервера</h5>
            </div>
            <div class="col-sm">
                <p class="card-text">Порт и адрес сервера</p>
            </div>
            <div class="col-auto text-end">
                <p class="card-text">Колличество игроков: 0</p>
            </div>
        </div>
        <div class="col-auto text-end">
            <a class="btn btn-primary">Информация о сервере</a>
        </div>
    </div>
</div>
<div class="text-center">
    <h4 class="display-4">Серверы еще не добавлены</h4>
</div>
